<section class="s1">
    <div class="main-container">
        <div class="greeting-wrapper">
      <h1>Hi, Im Yogesh Abnave</h1>
      
    </div>
    <div class="intro-wrapper">
        <div class="nav-wrapper">
            
            <div class="dots-wrapper">
                <div id="dot-1" class="browser-dot"></div>
                <div id="dot-2" class="browser-dot"></div>
                <div id="dot-3" class="browser-dot"></div>
                
            </div>
        <ul id="navigation">
            <button type="button" class="resume_download">
            <li><a href="../assets/images/Yogesh Abnave Resume.pdf" target="_self"  >Download Resume</a></li>

            </button>
            
            
            
            
        </ul>
    </div>
      <div class="left-column">
          <img id="profile_pic"  src="../assets/images/YogeshPhoto.JPG">
          <h5 style="text-align: center; line-height: 0;">Persnolize Theam</h5>
          <div id="theam-options-wrapper">
              <div data-mode="light" id="light-mode" class="theam-dot"></div>
              <div data-mode="blue" id="blue-mode" class="theam-dot"></div>
              <div data-mode="green" id="green-mode" class="theam-dot"></div>
              <div data-mode="purple" id="purple-mode" class="theam-dot"></div>
              
              
            </div>
            <p style="font-size: larger;" id="setting-note">Email Id -: iamyogeshabnave&#64;gmail.com</p>
            <p style="font-size: medium;"id="setting-note">Mobile -: 7350520555</p>
            <p style="font-size: medium;" id="setting-note">Linkedin -: <a href="https://www.linkedin.com/in/yogesh-abnave-85b7191a7/"> linkedin.com/in/yogesh-abnave-85b7191a7</a></p>
            </div>
            <div class="right-column">
          <div id="preview-shadow">
              
              <div id="preview">
                  <div id="corner-tl" class="corner"></div>
              <div id="corner-tr" class="corner"></div>
              
             <h3>What I Do</h3>
             <p>I am a Full-Stack Webdevloper and working on React,MongoDB,Express and Node (MERN) With the help of this thechnology i make Websites like this one.</p>
             <div id="corner-bl" class="corner"></div>
             <div id="corner-br" class="corner"></div>
             
            </div>
        </div>
      </div>
      
  </div>
  
</div>
</section>
<hr>
<section class="s2">
    <div class="main-container">

       <div class="about-wrapper">

           <div class="about-me">
               <h4 style="color: #61dafb;"> EMPLOYMENT HISTORY</h4>
               <h5 style="color: #ca1616;">ThechnoGrowth Software Solutions Pvt. Ltd. </h5>
               <p>Position SOFTWARE DEVELOPER (Since 2019 - Present)</p>
               <p>❑ Designed and Developed a user-friendly website using Angular Framework in Pune-based start-up Fixed bugs from existing websites and implemented Enhancements that significantly improved web
                functionality and speed.</p>
               <p>❑ Created interactive designs for web applications by way of
                page/user flow diagrams, site maps, prototypes, and
                interactive wireframes in Figma, Adobe XD. Extensively worked with Version Control Systems GIT. </p>
               <hr>
               <h4 style="color: #61dafb;">TOP THECHNOLOGY EXPERTISE</h4>
               <p>Full-Stack devloper with primery focus on ANGULAR.JS and REACT.JS <a target="_blank" href="resume.pdf"></a></p>
               <div id="skills">
                   <ul>
                       <h5>Front-End</h5>
                       <li> Angular.js</li>
                       <li> Ionic-(Angular)</li>
                       <li> ReactJs</li>
                       <li> HTML5</li>
                       <li> CSS</li>
                       <li> JavaScript</li>
                       <li> Bootstrap</li>
                     </ul>
                     <ul>
                        <h5>Back-End</h5>
                        <li> NodeJs</li>
                        <li> ExpressJs</li>
                        
                      </ul>
                      <ul>
                        <h5>Data-Base</h5>
                        <li> MongoDB</li>
                        <li> MySql</li>
                        <li> postgreSql</li>
                        <li></li>
                        
                      </ul>
                      <ul>
                        <h5>Other Tools</h5>
                        <li> PowerBI</li>
                        <li> Git/Bitbucket</li>
                        <li> Postman</li>
                        <li> Visual studio code</li>
                        
                      </ul>
                    </div>
                 </div>
                 <div class="about-me">
                    <h4 style="color: #61dafb;"> SKILLS SET</h4>
                    <p>❑	Working knowledge of front end optimization and performance techniques.</p>
                    <p>❑	Makes design recommendations towards the development of new code or reuse of existing code.</p>
                    <p>❑	Crisp Communication with Clients and work as an interface between team members and Client counterpart.</p>
                    <p>❑	Developing and Administering the new Angular.js and React.js Based Web Application along with knowledge of binding API.</p>
                    <p>❑	Taking an active role in structuring our single page applications to make them easy to maintain and to ensure they are highly modularized.</p>
                    <p>❑	Cooperating with the back-end developer in the process of building the RESTful API</p>
                    <p>❑	Hands-on software development with HTML, CSS, JavaScript and at least one other language.</p>
                    <p>❑	Strong knowledge of HTML5, CSS3, JavaScript with object oriented programming</p>
                    <p>❑	Strong knowledge of modern frontend technologies, best practices, and load speed optimization techniques</p>
                    <p>❑	Experience in creating self-contained, reusable and testable modules and components.</p>
                    <p>❑	Experience with Git, GitBucket etc</p>
                    <p>❑	Develop, maintain and release web related user interfaces and prepare systems design documentation by applying company, industry and governmental standards</p>
                    <p>❑	Create, develop and maintain systems designs by preparing design layouts, modifying existing designs and assisting in identifying design discrepancies using design tools.</p>
    
            </div>
        </div>
               
        
    </div>
    <!-- <div class="about-me-2">
        <div class="logo">
         

              <div id="mo" class="App">
                  <header class="App-header">
                      <img src="./images/mongo.png" class="App-logo" alt="logo" />
                     </header>
                 </div>
                 <div id="ex" class="App">
                     <header class="App-header">
                         <img src="./images/express.png" class="App-logo" alt="logo" />
                     </header>
            
             

             </div>
             <div id="re" class="App">
                 <header class="App-header">
                     <img src="./images/logo192.png" class="App-logo" alt="logo" />
                 </header>
             </div>
             <div id="no" class="App">
                 <header class="App-header">
                     <img src="./images/pngegg.png" class="App-logo" alt="logo" />
                 </header>

               
          
         </div>

         
         
       </div>
       <div class="tool">
           <div class="tool-title">

               <h1>Tools</h1>
           </div>
         <div id="tool-img-1" class="tool-class">
             <img src="./images/git.png" class="tool-logo" alt="logo">
         </div>
         <div id="tool-img-2" class="tool-class">
             <img src="./images/npm.png" class="tool-logo" alt="logo">
         </div>
         <div id="tool-img-3" class="tool-class">
             <img src="./images/aws.png" class="tool-logo" alt="logo" height="200px" width="200px">
         </div>
         <div id="tool-img-4" class="tool-class">
             <img src="./images/heroku.png" class="tool-logo" alt="logo" height="250px" width="500px">
         </div>

     </div>
       
        
 </div> -->


    
</section>
<hr>

<section class="s1">
    <div class="main-container">
        <h3 style="text-align: center; color: #61dafb;">SOME OF MY RECENT PROJECTS</h3>
      <div class="post-wrapper">
         <div class="post">

             <img  class="thumnail" src="../assets/images/WheelKing.PNG">
             <div class="post-preview">
                 <h6 class="post-title">WheelKing in (Angular.js)</h6>
                 <p class="post-intro">❑ This project is base on Logistic. </p>
                 <a >Read more</a>
                </div>
            </div>

            <div class="post">

                <img  class="thumnail" src="../assets/images/Renom.PNG">
                <div class="post-preview">
                    <h6 class="post-title">Renom in (Angular.Js)</h6>
                    <p class="post-intro">❑ This application is developed for Renom Energy Services LLP to  </p>
                    <a>Read more</a>
                   </div>
               </div>

               <div class="post">

                <img  class="thumnail" src="../assets/images/Capture E-commerce.PNG">
                <div class="post-preview">
                    <h6 class="post-title">E-Commerce in (React.Js)</h6>
                    <p class="post-intro">❑ This project is base on E-Commerce Online Shopping.</p>
                    <a>Read more</a>
                   </div>
               </div>
      </div>
    </div>
</section>
<hr>
<section class="s2">
    <div class="main-container">
     <h3 style="text-align: center; color: #61dafb;">GET IN TOUCH </h3>

     <form id="contact-form">
         <label>Name</label>
         <input class="input-field" type="text" name="name">

         <label>Subject</label>
         <input class="input-field" type="text" name="subject">

         <label>Email</label>
         <input class="input-field" type="email" name="email">
          
         <label> Message</label>
         <textarea name="message" class="input-field"></textarea>

         <input id="submit-btn"type="submit" style="background-color: #61dafb;" value="Send">
    </form>
    </div>
</section>